ul.memberslist {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-flow: row wrap;
  width: inherit;

  li {
    flex: 1 0 auto;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 2px rgba(90,90,90,0.12));
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 1em;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-flow: row;
    background: #FFFFFF;

    img.avatar {
        width: 130px;
        flex: 1;
        margin: 0 0 0.3rem;
    }
    div {
        width: calc(100% - 130px);
        margin-left: 1rem;
    }
  }
}
